<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="projects">
        <h2 class="text-center-heading">Projects</h2>
        <% data.projects.each do |project| %>
          <div class="project-container">
            <div class="project-image project-img">
              <div id="carousel-four" class="carousel slide carousel-container" data-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active item carousel-image">
                    <%= image_tag project.image, alt: "project image", class: "d-block w-100" %>
                    <%# <img width="1507" alt="Sinta dashboard" src="https://user-images.githubusercontent.com/114022804/205541769-bc8de7fe-ce85-465d-b932-479a3a94d023.png" class="d-block w-100"> %>
                  </div>
                </div>
              </div>
            </div>
            <div class="project-information project-info">
              <h5><%= project.name %></h5>
              <h6><%= project.role %></h6>
              <p><%= project.description %></p>
              <p><%= project.role_description %></p>
              <div class="technology-container">
                <% project.tech_stack.each do |logo| %>
                  <%= image_tag logo, alt: "text", class: "technology-icons" %>
                <% end %>
              </div>
              <%= link_to "View Site", project.url, target: "_blank", rel: "nofollow noopener", class:"view-live-btn" %>
            </div>
            <div class="divider d0"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
